{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Florist's Shop
                ...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <p align="justify">

                    Welcome to Nidhi Flowers, where beauty meets creativity.
                    Founded with a passion for flowers and a commitment to
                    exceptional customer service, we specialize in providing
                    exquisite floral arrangements and professional decoration
                    services for all occasions. Whether you're celebrating a
                    special milestone, planning a corporate event, or simply
                    brightening someone's day, [] is here to make every moment
                    unforgettable.
                    <br /><br />
                    At [Your Flower Shop Name], our mission is simple: to bring
                    joy and elegance into your life through the beauty of
                    flowers. We strive to deliver the highest quality floral
                    products and decoration services, tailored to meet the
                    unique needs and preferences of our customers. With a
                    dedication to creativity, reliability, and customer
                    satisfaction, we aim to exceed expectations with every
                    bouquet we create and every event we adorn.
                    <br /><br />
                    Our Team
                    Behind every creation at [Your Flower Shop Name] is a team
                    of passionate florists and designers dedicated to their
                    craft. With years of experience and a keen eye for detail,
                    our team ensures that every arrangement is a work of art. We
                    take pride in delivering not just flowers, but experiences
                    that leave lasting impressions.
                    
                </p>
                <br /><br />
            </div>
        </center>
    </div>
</div>

{% endblock %}